<h2>New Features</h2>
"To Do" pages have been introduced, feature lists of items that can be checked off and rearranged.
The "Notepad Sorter" now features filtering, full editing capabilities, the ability to create pages and notepads, and improved drag and drop support.
The "Find" feature has been redone and improved.

<h2>Bug Fixes</h2>
Fixed bugs related to the resizing and shading of windows.

<h2>Misc.</h2>
Automatic updates now use the popular Sparkle system.